.cards,.alerts,.student-list {
    display: flex;
    justify-content: center;
    width: 95%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    gap: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
}
